@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}



.contenido-ubicacion{
    display: flex;
    flex-direction: column;
    text-align: center;
}


.texto-ubi{
    grid-area: texto-ubi;
}

.titulo-ubi{
    grid-area: titulo-ubi;
}

.imagenes-servicios img{
    width: 250px;
    height: 250px;
    border-style: dashed;
    border-radius: 100%;
    border-color: burlywood;
    padding: 10px;
    margin: 15px;
}

.imagenes-servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.texto1-imagenes{
    grid-area: texto-ele;
}

.texto2-imagenes{
    grid-area: texto-san;
}

.texto3-imagenes{
    grid-area: texto-aire;
}

.foto1-servicios{
    grid-area: foto-ele;
}

.foto2-servicios{
    grid-area: foto-san;
}

.foto3-servicios{
    grid-area: foto-aire;
}

.mapa-ubi iframe{
    width: 270px;
    height: 200px;
    margin: 20px;
    
}

.tam-logo{
    width: 250px;
    height: 80px;
    margin-left: 10px;
    
}

.alin-nav{
    justify-content: end;
    
}

.tam-img-index{
    height: 200px;
    width: 300px;
    
}

.alin-texto{
    text-align: center;
    padding: 30px;
    align-self: stretch;
}

.bordes-img{
    border-style: groove;
    border-radius: 25%;
    border-color: cadetblue;
}

.tam-letra{
    font-size: medium;
}

.linea-footer{
    line-height: 80%;
    padding: 5px;
    text-align: end;
}





 
