.tam-letra {
  font-size: medium;
}

.tam-logo {
  width: 100px;
  height: 80px;
  margin-left: 10px;
}

.alin-nav {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.alin-ul {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.img-trabajos {
  width: 400px;
  height: 400px;
}

.zoom img:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  position: relative;
}

.borde-index {
  border-style: solid;
  padding: 5px;
  border-color: darkgrey;
}

.titulo--negro {
  color: black;
}

.titulo--blanco {
  color: white;
}

.img-carrusel {
  width: auto;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
      grid-template-areas: "logo conocenos contactanos redes";
  padding: 20px;
  padding-top: 30px;
  font-size: 13px;
}

.conocenos_footer {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: conocenos;
  -ms-grid-column-align: center;
      justify-self: center;
}

.logo_footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  -ms-grid-column-align: start;
      justify-self: start;
  margin-left: 10px;
  margin-top: 8px;
}

.contactanos_footer {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: contactanos;
  -ms-grid-column-align: center;
      justify-self: center;
}

.redes_footer {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: redes;
  -ms-grid-column-align: center;
      justify-self: center;
}

footer img {
  width: 250px;
  height: 80px;
  text-align: left;
}

.linea_footer {
  text-decoration: none;
  color: #706e6e;
  padding-left: 8px;
}

.contactanos_footer img {
  width: 20px;
  height: 20px;
}

.conocenos_footer img {
  width: 20px;
  height: 20px;
}

.redes_footer img {
  width: 30px;
  height: 30px;
}

.redes_footer a {
  margin-right: 10px;
}

.tam-img-quienes {
  height: 200px;
  width: 300px;
}

.bordes-img {
  border-style: groove;
  border-radius: 25%;
  border-color: cadetblue;
}

.alin-serv {
  text-align: center;
}

.borde-conteiner {
  border-style: solid;
  border-color: rgba(99, 94, 94, 0.2);
}

.tam-img-servicios {
  height: 300px;
  width: 400px;
}

.tam-letra-servicios {
  font-size: small;
  padding: 20px;
}

.alin-texto-right {
  text-align: right;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.alin-texto-left {
  text-align: left;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.borde-servicios {
  border-style: dashed;
  border-color: #353230;
  border-radius: 100%;
}

.alin-texto {
  text-align: center;
}

.alin-ubi {
  text-align: end;
}

.p-ubi {
  padding-left: 250px;
}

.alin-map {
  text-align: center;
}

.alin-texto-map {
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.tam-map {
  width: 450px;
  height: 300px;
}

.alin-btn {
  text-align: end;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.m-cont {
  margin: 3rem;
}

.alin-cont {
  text-align: center;
}

.borde-cont {
  border-style: solid;
  border-color: rgba(169, 169, 169, 0.781);
}

form {
  background-color: #f5f7f8;
  padding: 20px;
  margin: 40px;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
}
/*# sourceMappingURL=main.css.map */