.alin-btn{
    text-align: end;
    align-self: flex-end;
}

.m-cont{
    margin: 3rem;
}

.alin-cont{
    text-align: center;
}

.borde-cont{
    border-style: solid;
    border-color: rgba(169, 169, 169, 0.781);
} 

form{
    
    padding: 20px;
    margin: 40px;
}

