.alin-ul{
    align-items: center;
}


.img-trabajos{
    width: 400px;
    height: 400px;
    
}


.zoom{

    img:hover{
        transform: scale(1.15);
        transition: all 500ms;
        position: relative;
    }
    
}

.borde-index{
    border-style: solid;
    padding: 5px;
    border-color: darkgrey;
}
