.alin-serv{
    text-align: center;
}

.borde-conteiner{
    border-style: solid;
    border-color: rgba(99, 94, 94, 0.2);
}

.tam-img-servicios{
    height: 300px;
    width: 400px;
}

.tam-letra-servicios{
    font-size: small;
    padding: 20px;
}

.alin-texto-right{
    text-align: right;
    align-self: center;
}



.alin-texto-left{
    text-align: left;
    align-self: center;
}  

.borde-servicios{
    border-style: dashed;
    border-color: rgb(53, 50, 48);
    border-radius: 100%;
}

.p_right_servicios{
    padding-right: 50px;
}

.p_left_servicios{
    padding-left: 50px;
}