.alin-texto{
    text-align: center;
}

.alin-ubi{
    text-align: end;
}

.p-ubi{
    padding-left: 250px;
    
}

.alin-map{
    text-align: center;
    
}

.alin-texto-map{
    text-align: center;
    align-self: center;
}

.tam-map{
    width: 450px;
    height: 300px;

}